<div class="container">
    <div class="row">
        <div style='padding-top: 80px' class="col-12">
            <h1 id="apropos">
                <span style="font-family: 'Ubuntu', sans-serif;" class="text-primary">Hi there 👋</span>
                It's Abass Dev!
            </h1>
        </div>
    </div>
<div class="row py-4 m-1 align-items-center rounded shadow">
    <div class="col-md-6 my-4 py-4">
        <img width="100%" height="auto" class="rounded profpic" alt="Abass Dev profile picture" src="./profile-pic2.jpg" />
    </div>
    <div class="col-md-6 text-dark">
        <h1 class="mt-4">About me</h1>
        <p class="after-title"></p>
        <p class="lead text-start">
            I'm a Web and Mobile App developer passionate about the internet
            and programming for over 6 years. In my free time, I write
            articles on my blog and contribute to the Open-Source community.
            I'm the Creator of Nigatedev framework.
        </p>

        <div class="row">
            <div class="col-12 mt-2 col-md-7 text-center profile-socieal-links">
                <a href="https://m.facebook.com/abassthedev">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="https://twitter.com/abass_dev">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="https://github.com/abass-dev">
                    <i class="fa fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/abassdev">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://www.instagram.com/abassdev">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="https://www.pinterest.com/abassdev">
                    <i class="fa fa-pinterest"></i>
                </a>
                <a href="mailto:abass@abassdev.com">
                    <i class="fa fa-envelope"></i>
                </a>
            </div>
        </div>
    </div>